<div class="container">
  <div class="row justify-content-center align-items-center mt-3">
    @if (event!==undefined) {
    <div class="card w-100 w-md-75">
      <div class="col d-flex justify-content-center h-vh mt-3">
        <link rel="preconnect" href="https://cdn2.unrealengine.com">
        <img
          [src]="event.idGame.thumbnailUrl"
          class="img-fluid img-"
          alt="image game"
        />
      </div>
      <div class="card-body text-center">
        <h1 class="card-title">{{ event.name }}</h1>
        <p class="card-text">
          {{ event.description }}
        </p>
        <div class="row mt-5">
          <div class="col">
            <p class="card-text">Game: {{ event.idGame.title }}</p>
          </div>
          <div class="col">
            <p class="card-text">URL game: <a [href]="event.idGame.url">{{ event.idGame.title }}</a></p>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <p class="fs-6">Stard date: {{ event.start }}</p>
          </div>
          <div class="col">
            <p class="fs-6">End date: {{ event.end }}</p>
          </div>
        </div>
        @if (isUserEventManager()) {
        <div class="row d-flex justify-content-center align-items-center">
          <a
            [routerLink]="['/event/edit', event.id]"
            class="btn btn-warning w-25"
          >
            Editar
          </a>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
