@if (eventList !== null) {
<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col text-center"><h2>Events</h2></div>
    <div class="col">
      <form
        class="d-flex align-items-center justify-content-center"
        role="search"
        [formGroup]="gameForm"
        (ngSubmit)="getAll()"
      >
        <select class="form-select me-2 w-50" formControlName="idGame">
          <option [value]="''" [selected]="true">Select a game</option>
          @for (game of gameList; track $index) {
          <option [ngValue]="game.id">{{ game.title }}</option>
          }
        </select>
        <button class="btn btn-outline-success" type="submit" [disabled]="!gameForm.valid">Search</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    @for (event of eventList; track $index) {
    <div class="col-6 col-sm-6 col-md-5 col-lg-3 col-xl-2 mt-2 me-md-2">
      <a [routerLink]="['./show', event.id]" class="style-none">
        <div
          class="thumbnail thumbnail-card img-bg"
          style="background-image: url({{event.idGame.thumbnailUrl}});"
        >
          <div class="thumbnail-title">
            <h4 class="text-truncate text-center fs-95rem">{{ event.name }}</h4>
          </div>
          <div class="thumbnail-footer">
            <div class="row text-center g-0">
              <div class="col">
                <p class="fs-75rem">Stard date:</p>
                <p class="fs-75rem">{{ event.start }}</p>
              </div>
              <div class="col">
                <p class="fs-75rem">End date:</p>
                <p class="fs-75rem">{{ event.end }}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    }
  </div>
  <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-2">
    <ul class="pagination">
      @if (first) {
        <li class="page-item disabled"><button class="page-link">Previous</button></li>
      }@else {
        <li class="page-item"><button class="page-link" (click)="decrementNumPage()">Previous</button></li>
      }
      @for (item of arrayNumber; track $index) {
        @if($index===actualPage){
          <li class="page-item active" aria-current="page"><button class="page-link" (click)="modifyNumPage($index)">{{$index + 1}}</button></li>
        } @else {
          <li class="page-item activate"><button class="page-link" (click)="modifyNumPage($index)">{{$index + 1}}</button></li>
        }
      }
      @if(last){
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      }@else {
        <li class="page-item"><button class="page-link" (click)="incrementNumPage()">Next</button></li>
      }
    </ul>
  </nav>
  @if (isEventManagerOrAdmin()) {
  <div class="row-6 fixed-bottom d-flex justify-content-end">
    <div class="col-1 text-center">
      <button
        [routerLink]="['./new']"
        class="btn btn-success mb-5 rounded-circle"
      >
        +
      </button>
    </div>
  </div>
  }
</div>
} @else { Procesando la solicitud }
