#create_party_form_container {
    flex-direction: column;
    padding: 20px;
}

#create_party_form_container p {
    margin: 0;
    padding: 0;
}

#create_party_role_selection_row {
    flex-wrap: nowrap;
    height: 80px;
    align-items: center;
}

.create_party_role_img {
    width: 55px;
    height: 40px;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
}

.create_party_role_img_selected {
    background-color: #73C264;

}   

.create_party_role_quantity_selector_row {
    margin-bottom: 10px;
    margin-top: 20px;
}

.create_party_err {
    color: #ec6059;
    margin: 0;
}

#roles_row {
    position: relative;
}

#create_party_role_err {
    position: absolute;
    top: 65px
}

#create_party_btn {
    margin-top: 30px;
    background-color: #73C264;
    border-color: #73C264;
}


