label {
    color: black;
}

#login_btn {
    background-color: #F04339;
    border-color: #F04339;
}

#sign_up_span {
    color: #F04339;
}

.hidden{
    display: none;
}

.error{
    color:rgb(170, 0, 0);
}
