<div class="container h-100 ">
    <div class="row align-items-center h-100">
        <div class="w-100 align-items-center d-flex justify-content-center align-items-center">
            <div class="w-50">
                <div class="card rounded-5 text-white bg-dark">
                    <div class="card-body py-5 px-md-5">
                        <form>
                        <div class="mb-3">
                            <label class="mb-1" for="exampleInputEmail1">Email</label>
                            <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            placeholder="User@example.com"
                            />
                        </div>
                        <div class="mb-3">
                            <label class="mb-1" for="exampleInputPassword1">Password</label>
                            <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            placeholder="Password"
                            />
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary rounded-pill btn-color w-100" type="button">Log in</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary rounded-pill btn-color w-100" type="button">Register</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>