#my_parties_container {
    height: 80vh;
    min-height: 650px;
    background-color: rgb(158, 158, 158);
}

#my_parties_nav {
    margin-top: 20px;
    color: white;
    align-items: center;
}

#my_parties_nav p {
    margin: 0;
}

.my_parties_nav_item {
    background-color: rgb(158, 158, 158);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 40px;
    padding-top: 10px;
    font-weight: bold;
}

.my_parties_nav_no_selected:hover {
    cursor: pointer;
    background-color: rgb(131, 131, 131);
}

.my_parties_nav_no_selected {
    background-color: rgb(117, 117, 117);
    font-weight: normal;
}
