<app-nav-bar></app-nav-bar>

<div class="container" id="list_parties_main_container">
    <div class="row"><div class="col-1 offset-3"><img src="../../../assets/arrow-left.svg" alt="" class="back_icon" routerLink="/home"></div></div>
    <div class="row">
        <img src="{{game.thumbnailUrl}}" alt="" class="col-7 offset-2 col-sm-7 offset-sm-2 col-md-5 offset-md-4 col-lg-3 offset-lg-0 list_parties_game_image">
        <div class="col-xl-7" id="parties_list">
            <div class="card bg-dark text-white h-100">
                <div class="d-flex card-header justify-content-between">
                    <h5 class="me-3 mb-0">Parties for {{game.title}}</h5>
                </div>
                <div class="card-body overflow-auto" id="party_list_card_body">
                    <ul class="list-group list-group-flush text-white">
                       
                        @for (party of parties; track $index) {
                            <li class="list-group-item text-white" routerLink="/party-details/{{party.id}}">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">{{party.name}}</h6>
                                    </div>
                                    <div class="flex-shrink-0 text-end">
                                        <span>
                                            {{membersCounts[$index]}}/{{party.maxPlayers}}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
        <button class="col-2 offset-6 mt-4 btn text-white fw-bold" routerLink="/create-party/{{game.id}}" id="create_party_btn">Create Party</button>
    </div>
</div>