#list_parties_main_container {
    padding-top: 60px;
}

.list_parties_game_image {
    margin-top: 50px;
    max-height: 400px;
    margin-bottom: 70px;
}

#parties_list {
    margin-left: 30px;
}

.parties_list_item {
    height: 100px;
    background-color: rgb(119, 119, 119);
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.parties_list_item p {
    margin: 0;
}


.back_icon:hover {
    cursor: pointer;
}

#party_list_card_body {
    max-height: 520px;
    padding: 0;
}

.list-group-item {
    height: 45px;
}

.list-group-item:hover {
    background-color: #f042399f;
}

.null_party {
    height: 0;
    padding: 0;
}

#create_party_btn {
    background-color: #73C264;
}