.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  --primary-100: #61DAFB;
  --primary-200: #39bcdc;
  --primary-300: #007997;
  --accent-100: #FF4081;
  --accent-200: #ffe4ff;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #282C34;
  --bg-200: #383c44;
  --bg-300: #50555e;
}

body.night-mode {
  --primary-100: #FF4081;
  --primary-200: #ff79b0;
  --primary-300: #ffe4ff;
  --accent-100: #00E5FF;
  --accent-200: #00829b;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #F5F5F5;
  --bg-200: #ebebeb;
  --bg-300: #c2c2c2;
}

*{
  font-family: 'Open Sans', sans-serif;
}

html, body { 
  height: 100%; 
  background-color: rgb(134, 134, 134);
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: url("./assets/seamless-pattern-with-gaming-icons-free-vector.jpg");
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #332D2D;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #332D2D;
  border-radius: 10px;
}

.back_icon {
  background-color: #73C264;
  padding: 5px;
  border-radius: 20px;
  height: 35px;
  margin-bottom: 5px;
  margin-left: 30px;
}