.thumbnail_image {
  width: 190px;
  height: 250px;
}

.thumbnail_game_title {
  max-width: 190px;
  text-align: center;
}

.game_card {
  margin-top: 20px;
  width: 190px;
  text-decoration: none;
  color: black;
}

.games-row {
  gap: 15px
}
