<section class="vh-100 gradient-custom" id="login_section">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-3 mt-md-4 ">
  
                <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-5">Please enter your information</p>
  
                <div class="form-floating mb-3">
                    <input type="uesername" class="form-control" id="exampleInputUsername" placeholder="User" [(ngModel)]="userName" name="userName">
                    <label for="floatingInput">User Name</label>
                    <div class="row">
                        <div id="errorName" class="col error hidden">Enter your user name</div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com" [(ngModel)]="email" name="email">
                    <label for="floatingInput">Email address</label>
                    <div class="row">
                        <div id="errorEmail" class="col error hidden">Enter your email</div>
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password" >
                    <label for="floatingPassword">Password</label>
                    <div class="row">
                        <div id="errorPassword" class="col error hidden">Enter your password</div>
                    </div>
                </div>
  
                <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit" id="register_btn" (click)="register()">Sign Up</button>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
