<app-nav-bar></app-nav-bar>
<div class="container" id="list_parties_main_container">
    <div class="row"><div class="col-1 offset-3"><img src="../../../assets/arrow-left.svg" alt="" class="back_icon" routerLink="/parties/{{game.id}}"></div></div>
    <div class="row">
        <img src="{{game.thumbnail_url}}" alt="" class="col-3 list_parties_game_image">
        <div class="container col-7 overflow-auto parties_list">
            <div class=" row d-flex justify-content-between">
                <p class="col-6 " id="party_deatils_name">{{party.name}}</p>
                <p class="col-1">0/{{party.max_players}}</p>
            </div>
            <div class="row">
                <p>{{party.description}}</p>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>